:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color_secondary: #19376d;
    --color-darl: #0b2447;
    --color-bg: #04152d;

    /* Fonts */
    --font-robot: "Roboto";
}